@{
    ViewData["Title"] = "Home Page";
    IEnumerable<PlayerModel> players = (IEnumerable<PlayerModel>)ViewData["Players"];
    var pageSizes = GridHelper.DefaultPageSizes();
}

<h4> Players List</h4>

<ejs-grid id="products-grid" allowPaging="true" allowSorting="true" dataSource="players" allowFiltering="true">
   @* <e-data-manager url="@dataUrl" adaptor="UrlAdaptor"></e-data-manager>*@
    <e-grid-pagesettings pageSize="10" pageSizes="@pageSizes"></e-grid-pagesettings>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>
        <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" visible="true" width="120"></e-grid-column>

        <e-grid-column field="FullName" headerText="Name" clipMode="EllipsisWithTooltip" width="200"></e-grid-column>

        <e-grid-column field="PostionName" headerText="Postion" clipMode="EllipsisWithTooltip" width="200"></e-grid-column>

        <e-grid-column field="ClubName" headerText="Club" clipMode="EllipsisWithTooltip" width="200"></e-grid-column>

        <e-grid-column field="Price" headerText="Price" clipMode="EllipsisWithTooltip" width="200"></e-grid-column>

        <e-grid-column field="SelectedPercent" headerText="Selected (%)" clipMode="EllipsisWithTooltip" width="200"></e-grid-column>
    </e-grid-columns>
</ejs-grid>