html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-very-difficult {
    color: rgb(128, 7, 45);
}

.e-spinner-pane.e-spin-show {
    background-color: rgba(100,100,100,0.4) !important;
    z-index: 9999;
}