
@{
    ViewData["Title"] = "Under Construction";
}

@section Styles{
    <link rel="stylesheet" href="~/theme/sneat/assets/vendor/css/pages/page-misc.css" />
}

<div class="card">
    <div class="card-body container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-2 mx-2">Under Construction</h2>
            <p class="mb-4 mx-2">Sorry for the inconvenience but at the moment this feature is under development</p>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to home</a>
            <div class="mt-4">
                <img src="~/theme/sneat/assets/img/illustrations/girl-doing-yoga-light.png"
                     alt="girl-doing-yoga-light"
                     width="500"
                     class="img-fluid"
                     data-app-dark-img="~/theme/sneat/assets/img/illustrations/girl-doing-yoga-dark.png"
                     data-app-light-img="~/theme/sneat/assets/img/illustrations/girl-doing-yoga-light.png" />
            </div>
        </div>
    </div>
</div>
