@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

@section Styles{
    <link rel="stylesheet" href="~/theme/sneat/assets/vendor/css/pages/page-auth.css" />
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
            <div class="card-body" id="authentication-div">
                <h4 class="mb-2">Welcome to SCC Fantasy! 👋</h4>
                <p class="mb-4">Please sign-in to your account and start the adventure</p>

                <form id="form-authentication" class="mb-3" asp-action="Login" asp-controller="Account" method="POST">
                    <div class="text-danger validation-summary"></div>

                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">Username</label>
                        <input type="text" asp-for="UserName" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-password-toggle">
                        <div class="d-flex justify-content-between">
                            <label class="form-label" asp-for="Password">Password</label>
                           @* <a href="auth-forgot-password-basic.html">
                                <small>Forgot Password?</small>
                            </a>*@
                        </div>
                        <div class="input-group input-group-merge">
                            <input type="password" asp-for="Password"
                                   class="form-control"
                                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                   aria-describedby="password" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    @*<div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remember-me" />
                            <label class="form-check-label" for="remember-me"> Remember Me </label>
                        </div>
                    </div>*@
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="button" data-action="login">Sign in</button>
                    </div>
                </form>

                <p class="text-center">
                    <span>New on our website ?</span>
                    <a asp-area="" asp-controller="Account" asp-action="Register">
                        <span>Create an account</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- /Register -->
    </div>
</div>

@section Scripts{
    <script src="~/js/pages/user-account.js" type="text/javascript"></script>
}